.hero__container {
  @include containerSmall;
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  color: var(--title-color);
  font-family: Roboto Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.72px;

  span {
    display: inline-block;
    height: 50px;
  }
}
//<span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
.hero__description {
  margin-top: 32px;
  color: var(--desc-color);
  font-family: Roboto Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.3px;
}

.hero__description p:last-child {
  margin-top: 35px;
}