.collaboration__container {
  @include containerBig;
  display: flex;
  flex-direction: row;
}

.collaboration__text_wrapper {
  display: flex;
  flex: 1 1 67%;
  flex-direction: column;
  border-top: 2px solid var(--dark-green);
  border-left: 2px solid var(--dark-green);
  padding: 80px;
}

.collaboration__title {
  color: var(--title-color);
  font-family: Roboto Mono;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
}

.collaboration__description {
  margin-top: 12px;
  color: var(--desc-color);
  font-family: Roboto Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.3px;
}

.collaboration__photo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;
  border: 2px solid var(--dark-green)
}
.collaboration__photo_wrapper{
  border-bottom: none;
}
.collaboration__data_user{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.collaboration__data_name{
  color: #7CF2D0;
  font-family: Roboto Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.36px;
  margin-left: 14px;
}