.socials__container {
  @include containerBig;
  display: flex;
  flex-direction: row;
}

.socials__icons_wrapper {
  display: flex;
  flex: 1 1 33.8%;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--dark-green);
  padding: 217px 0;
}
.socials__icons_wrapper {
  border-top: none;
}
.socials__icons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 32px;
  max-width: 240px;

}

.socials__icons_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  @include btn_anim(1.05, 0.9);
  border-radius: 16px;
  border: 1px solid #232A23;
}

.socials__icons_title {
  color: rgba(243, 243, 243, 0.70);
  text-align: center;
  font-family: Roboto Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
  letter-spacing: 0.24px;
}

.socials__photo {
  flex: 1 1 66.2%;
  border: 2px solid var(--dark-green);
  padding: 122px;
}
.socials__photo{
  border-top: none;
  border-right: none;
}
.socials__box {
  background: #232A23;
  width: 604px;
  height: 604px;
}