.header{
  padding-top: 100px;
  position: relative;
}
.header__image{
  position: absolute;
  top: 0;
  left: 0;
}
.header__container{
  @include containerBig;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}