.info__container {
  @include containerBig;
  margin-top: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__images__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33%;
  border: 2px solid var(--dark-green);
  padding: 42px;
}

.info__images__wrapper {
  border-right: none;
  border-bottom: none;
}
.info__image_one, .info__image_two {
  p {
    color: rgba(243, 243, 243, 0.70);
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 200% */
    letter-spacing: 0.24px;
    margin-top: 24px;
  }
}

.info__image_one {
  padding-bottom: 24px;
  border-bottom: 1px dashed rgba(207, 207, 215, 0.50);
}

.info__image_two {
  margin-top: 24px;
}

.info__title {
  color: var(--title-color);
  font-family: Roboto Mono;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: 0.72px;
}

.info__description {
  margin-top: 24px;
  color: var(--desc-color);
  font-family: Roboto Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.3px;
}

.tab-group {
  display: flex;
  flex: 1 1 67%;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid var(--dark-green);
  font-family: 'PT Mono', monospace;
  padding: 80px 92px 113px 92px
}
.tab-group{
  border-bottom: none;
}

.tab-content {
  padding-top: 32px;
  display: none;
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  p{
    color: rgba(243, 243, 243, 0.70);
    font-family: Roboto Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    letter-spacing: 0.3px;
  }
}

.tab-content.active {
  display: block;
}

.tab-container {
  height: 42px;
  width: 100%;
  display: flex;

  button {
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    letter-spacing: 0.36px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }
}
.tab:first-child{
  margin-right: 32px;
}
.tab {
  cursor: pointer;
  background: none;
  padding: 0 0 12px 0;

  &.active {
    border-bottom: 2px solid white;
  }
}
