:root{
  --background: #000B00;
  --white: #ffffff;
  --white-two: #F3F3F3;
  --desc-color: rgba(243, 243, 243, 0.70);
  --black: #000000;
  --light-green: #19CD99;
  --dark-green: #232A23;
  --title-color: #F3F3F3;
  --border-radius: 6px;
  --manilla: #7a671a;
}
