<section class="accordion">
    <div class="accordion__wrapper">
        <div class="accordion__container">
            <div class="accordion__name">
                FAQ
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    What is Notahash?
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        Notahash is a music project where the foundation of our creativity lies in musical encoding
                        based on hash values and narratives in blockchain history. We are building a community by
                        collaborating with musicians and artists to bring bold ideas to life and fostering close
                        interaction with our early fans, where each individual will become a part of the project in the
                        future.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    The main advantage <br> of the Neoeclecticism token?
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        The main benefit of owning Neoeclecticism is the opportunity to collect a digital collectible
                        item called 'Source' at a pre-sale price.
                        <br>
                        <br>
                        The first 20 owners of the ‘Source’ collection will receive a track converted based on the hash
                        value of their wallet.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    The main advantage <br> of the Neoeclecticism token?
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        The main benefit of owning Neoeclecticism is the opportunity to collect a digital collectible
                        item called 'Source' at a pre-sale price.
                        <br>
                        <br>
                        The first 20 owners of the ‘Source’ collection will receive a track converted based on the hash
                        value of their wallet.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-item-header">
                    The main advantage <br> of the Neoeclecticism token?
                </div>
                <div class="accordion-item-body">
                    <div class="accordion-item-body-content">
                        CORS, aka Cross-Origin Resource Sharing, is a mechanism that enables many resources (e.g.
                        images, stylesheets, scripts, fonts) on a web page to be requested from another domain outside
                        the domain from which the resource originated.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>