<section class="collaboration">
    <div class="collaboration__wrapper">
        <div class="collaboration__container">
            <div class="collaboration__text_wrapper">
                <div class="collaboration__title title">
                    Collaboration
                </div>
                <div class="collaboration__description desc">
                    <p>
                        Notahash is embarking on our journey with our first collection, starting with a collaboration
                        with a
                        talented artist whose works will be sought after by collectors—it's only a matter of time. Why
                        do we
                        think so? You will find out a little later. Look for clues around
                    </p>
                </div>
            </div>
            <div class="collaboration__photo_wrapper">
                @@include('../../svg/include/photo.svg')
                <div class="collaboration__data_user">
                    @@include('../../svg/include/twitter_green_logo.svg')
                    <p class="collaboration__data_name">Nizovtsev</p>
                </div>
            </div>
        </div>
    </div>
</section>