<section class="discover">
    <div class="discover__wrapper">
        <div class="discover__container">
            <div class="discover__text_wrapper">
                <div class="discover__title title">
                    Discover Neoeclecticism:
                    Unlock Exclusive Access
                </div>
                <div class="discover__description desc">
                    <p>
                        We've created the Neoeclecticism collection to gather our early fans who will join us on our
                        journey. Purchasing a Neoeclecticism collectible grants you a pre-sale price for our new
                        'Source'
                        collection.
                    </p>

                    <p>
                        By supporting us, you help launch the 'Source' collection, where the first 20 owners will
                        possess a
                        track based on the hash value of their wallet.
                    </p>
                </div>
            </div>
            <div class="discover__photo">
                @@include('../../svg/include/discover.svg')
            </div>
            <p class="discover__name">
                Collectible Digital Item from the 'Source' Collection.
                <br>
                Notahash - Vitalik Buterin's Wallet.
            </p>

        </div>
    </div>
</section>