<header class="header">
    <div class="header__wrapper">
        <div class="header__container">
            <div class="header__logo">
                <a href="#main" class="">
                    @@include('../../svg/include/logo.svg')
                </a>
            </div>

            <div class="header__button">
                Connect wallet
            </div>
        </div>
    </div>
    <div class="header__image">
        @@include('../../svg/include/header.svg')
    </div>
</header>
