<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__container">
            <div class="hero__title title">
                <span class="hero__title-typed"></span>
                <p>
                    Blockchain history
                </p>
                <div class="hero__description desc">
                    <p>Notahash manually converts hash values (used by Bitcoin and Ethereum Virtual Machine to represent
                        addresses, externally-owned accounts or wallets, contract accounts, transactions, or some parts
                        of
                        the
                        code) into music and thereby tells the blockchain story through Music NFT.
                    </p>

                    <p>Our project is dedicated to people, companies, and events influencing the emerging decentralized
                        crypto
                        space.
                    </p>
                </div>
            </div>
        </div>
</section>