<section class="_howItWorks">
    <div class="howItWorks__wrapper">
        <div class="howItWorks__container">
            <div class="howItWorks__text__wrapper">
                <div class="howItWorks__title title">
                    How it works?
                </div>
                <div class="howItWorks__description desc">
                    <p>
                        Taking a 16-digit hash value, we divide our sound scale into numerical values from 1 to 9 and
                        letter values from A to F, known to all classical and jazz musicians, and create an equation for
                        harmony.
                    </p>
                </div>
            </div>
            <div class="howItWorks__photo wrapper">
                <div class="howItWorks__circle"></div>
                <div class="howItWorks__circle"></div>
                <div class="howItWorks__img">
                    @@include('../../svg/include/howItWorks.svg')
                </div>
            </div>
            <div class="howItWorks__link">
                <a href="/">For more details on how we do it, <span class="howItWorks__text"> read our article on the medium</span>

                    <span class="arrow-hover">
                        ⟶
                    </span>
                </a>

            </div>
        </div>
    </div>
</section>