<section class="optimism">
    <div class="optimism__wrapper">
        <div class="optimism__container">
            <div class="optimism__photo">
                <div class="optimism__box">
                    @@include('../../svg/include/optimism.svg')
                </div>
            </div>
            <div class="optimism__text_wrapper">
                <div class="optimism__title title">
                    Why Optimism?
                </div>
                <div class="optimism__description desc">
                    <p>
                        We chose the Optimism network due to its low gas fees and fast transactions. Additionally,
                        Optimism is focused on donations for public goods.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>