<section class="socials">
    <div class="socials__wrapper">
        <div class="socials__container">
            <div class="socials__photo">
                <div class="socials__box">
                    @@include('../../svg/include/social.svg')
                </div>
            </div>
            <div class="socials__icons_wrapper">
                <div class="socials__icons_title title">
                    We are on social media
                </div>
                <div class="socials__icons_container">
                    <a class="socials__icons_item">
                        @@include('../../svg/include/spotify.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/apple.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/amazon.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/spotify.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/apple.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/amazon.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/spotify.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/apple.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/amazon.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/spotify.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/apple.svg')
                    </a>
                    <a class="socials__icons_item">
                        @@include('../../svg/include/amazon.svg')
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>