<section class="socials">
    <div class="socials__wrapper">
        <div class="socials__container">
            <div class="socials__photo">
                <div class="socials__box"></div>
            </div>
            <div class="socials__icons_wrapper">
                <div class="socials__icons_title title">
                    We are on social media
                </div>
                <div class="socials__icons_container">
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                    <div class="socials__icons_item"></div>
                </div>
            </div>
        </div>
    </div>
</section>